<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chamc.process.mapper.RegisterMapper">

    <sql id="columns">
        id, reg_type, enterprise_zh, enterprise_en,
        regist_zh, regist_en, regist_code, work_code,
        work_place_zh, work_place_en, area_name, area_code,
        license_code, enterprise_type, currency, capital,
        economic_type, leader, leader_tele, contact,
        contact_tele,contact_email, email_receive, website,
        product_info, invoice_title,tax_number, tax_addr,
        open_bank, create_time, update_time, uid, status
    </sql>

    <resultMap id="columnMap" type="Register">
        <id column="id" property="id"></id>
        <result column="reg_type" property="regType"></result>
        <result column="enterprise_zh" property="enterpriseZh"></result>
        <result column="enterprise_en" property="enterpriseEn"></result>
        <result column="regist_zh" property="registZh"></result>
        <result column="regist_en" property="registEn"></result>
        <result column="regist_code" property="registPostcode"></result>
        <result column="work_code" property="workPostcode"></result>
        <result column="work_place_zh" property="workplaceZh"></result>
        <result column="work_place_en" property="workplaceEn"></result>
        <result column="area_name" property="adminarea"
                typeHandler="com.chamc.process.utils.typeHandler.AdminareaHandler"></result>
        <result column="area_code" property="adminareaCode"></result>
        <result column="license_code" property="licenseCode"></result>
        <result column="enterprise_type" property="enterpriseType"></result>
        <result column="currency" property="currency"></result>
        <result column="capital" property="capital"></result>
        <result column="economic_type" property="economicType"></result>
        <result column="leader" property="leader"></result>
        <result column="leader_tele" property="leaderTele"></result>
        <result column="contact" property="contact"></result>
        <result column="contact_tele" property="contactTele"></result>
        <result column="contact_email" property="contactEmail"></result>
        <result column="email_receive" property="emailReceive"></result>
        <result column="website" property="website"></result>
        <result column="product_info" property="productInfo"></result>
        <result column="invoice_title" property="invoiceTitle"></result>
        <result column="tax_number" property="taxNumber"></result>
        <result column="tax_addr" property="taxAddr"></result>
        <result column="open_bank" property="openBank"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="uid" property="userid"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <resultMap id="preview" type="com.chamc.process.controller.response.PreviewForm">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="enterprise_zh" property="name"></result>
        <result column="regist_zh" property="addr"></result>
        <result column="capital" property="money"></result>
        <result column="contact" property="contact"></result>
        <result column="contact_tele" property="tel"></result>
        <result column="status" property="status"></result>
    </resultMap>


    <resultMap id="locationMap" type="Location">
        <result column="provice" property="provice"></result>
        <result column="city" property="city"></result>
        <result column="town" property="town"></result>
    </resultMap>

    <resultMap id="detailMap" type="RegisterDetail">
        <id column="id" property="id"></id>
        <result column="reg_name" property="regType"></result>
        <result column="enterprise_zh" property="enterpriseZh"></result>
        <result column="enterprise_en" property="enterpriseEn"></result>
        <result column="regist_zh" property="registZh"></result>
        <result column="regist_en" property="registEn"></result>
        <result column="regist_code" property="registPostcode"></result>
        <result column="work_code" property="workPostcode"></result>
        <result column="work_place_zh" property="workplaceZh"></result>
        <result column="work_place_en" property="workplaceEn"></result>
        <result column="area_name" property="adminarea"
                typeHandler="com.chamc.process.utils.typeHandler.AdminareaHandler"></result>
        <result column="area_code" property="adminareaCode"></result>
        <result column="license_code" property="licenseCode"></result>
        <result column="enterprise_name" property="enterpriseType"></result>
        <result column="currency_name" property="currency"></result>
        <result column="capital" property="capital"></result>
        <result column="economic_name" property="economicType"></result>
        <result column="leader" property="leader"></result>
        <result column="leader_tele" property="leaderTele"></result>
        <result column="contact" property="contact"></result>
        <result column="contact_tele" property="contactTele"></result>
        <result column="contact_email" property="contactEmail"></result>
        <result column="email_receive" property="emailReceive"></result>
        <result column="website" property="website"></result>
        <result column="product_info" property="productInfo"></result>
        <result column="invoice_title" property="invoiceTitle"></result>
        <result column="tax_number" property="taxNumber"></result>
        <result column="tax_addr" property="taxAddr"></result>
        <result column="open_bank" property="openBank"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="uid" property="userid"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <resultMap id="emailMap" type="EmailInfo">
        <result column="email" property="email"></result>
        <result column="email_receive" property="receive"></result>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" parameterType="register">
        INSERT INTO s_register (<include refid="columns"/>)
        VALUES (#{id},#{regType},#{enterpriseZh},#{enterpriseEn},#{registZh},#{registEn},
        #{registPostcode},#{workPostcode},#{workplaceZh},#{workplaceEn},
        #{adminarea, typeHandler=com.chamc.process.utils.typeHandler.AdminareaHandler},#{adminareaCode},#{licenseCode},#{enterpriseType},#{currency},#{capital},
        #{economicType},#{leader},#{leaderTele},#{contact},#{contactTele},#{contactEmail},
        #{emailReceive},#{website},#{productInfo},#{invoiceTitle},#{taxNumber},#{taxAddr},#{openBank},NOW(),NOW(),#{userid},
        #{status})
    </insert>

    <select id="getByUserId" parameterType="Long" resultMap="columnMap">
        SELECT
        <include refid="columns"/>
        FROM s_register WHERE uid = #{userId}
    </select>

    <select id="getPreview" resultMap="preview" parameterType="Long">
        SELECT a.id, b.name AS type, a.enterprise_zh,a.regist_zh,a.capital,a.contact,a.contact_tele, a.status
        FROM s_archive_detail b
        RIGHT JOIN s_register a
        ON a.reg_type = b.id
        WHERE a.uid = #{userId}
    </select>

    <select id="getPreviewByType" resultMap="preview" parameterType="Long">
        SELECT a.id, b.name AS type, a.enterprise_zh,a.regist_zh,a.capital,a.contact,a.contact_tele, a.status
        FROM s_archive_detail b
        RIGHT JOIN s_register a
        ON a.reg_type = b.id
        WHERE a.uid = #{userId} AND b.type = #{type}
    </select>


    <select id="getAll" resultType="Integer">
        SELECT count(*)
        FROM s_register
        WHERE uid = #{userId}
    </select>

    <select id="getAppList" resultMap="preview" parameterType="Long">
        SELECT a.id, b.name AS type, a.enterprise_zh,a.regist_zh,a.capital,a.contact,a.contact_tele, a.status
        FROM s_archive_detail b
        RIGHT JOIN s_register a
        ON a.reg_type = b.id
        WHERE a.status = 1
    </select>

    <select id="getExcelDetial" resultMap="columnMap" parameterType="Long">
        SELECT enterprise_zh, regist_zh, regist_code, work_code, area_code, license_code,
        capital, leader, contact, contact_tele, website, product_info, invoice_title, tax_number, tax_addr, open_bank
        FROM s_register
        WHERE uid = #{userId}
    </select>

    <delete id="deleteById">
        DELETE FROM s_register WHERE id = #{id}
    </delete>

    <select id="getById" resultMap="columnMap" parameterType="Long">
        SELECT
        <include refid="columns"/>
        FROM s_register WHERE id = #{id}
    </select>

    <select id="isEmail" parameterType="Long">
        SELECT contact_email, email_receive FROM s_register WHERE id = #{id}
    </select>


    <select id="queryDetail" resultMap="detailMap" parameterType="Long">
        SELECT
        a.id, a.enterprise_zh, a.enterprise_en,
        a.regist_zh, a.regist_en, a.regist_code, a.work_code,
        a.work_place_zh, a.work_place_en, a.area_name, a.area_code,
        a.license_code, a.currency,a.area_name,
        a.leader, a.leader_tele, a.contact,a.capital,
        a.contact_tele,a.contact_email, a.website,
        a.product_info, a.invoice_title,a.tax_number, a.tax_addr,
        open_bank, b1.name AS reg_name, b3.name AS enterprise_name,
        b4.name AS currency_name, b5.name AS economic_name
        FROM s_register a
        LEFT JOIN s_archive_detail b1 ON a.reg_type = b1.id
        LEFT JOIN s_archive_detail b3 ON a.enterprise_type = b3.id
        LEFT JOIN s_archive_detail b4 ON a.currency = b4.id
        LEFT JOIN s_archive_detail b5 ON a.economic_type = b5.id
        WHERE a.id = #{id}
    </select>


    <!-- 将区域码转为名称 -->
    <select id="queryLocation" resultMap="locationMap">
        SELECT NAME AS provice,(
        SELECT NAME FROM s_region
        WHERE id = #{city} ) AS city,(
        SELECT NAME FROM s_region
        WHERE id = #{town} ) AS town FROM s_region
        WHERE id = #{province}
    </select>

    <update id="updateStatus">
        UPDATE s_register SET status = #{status}
        <if test="comment != null">
            , comment = #{comment}
        </if>
        WHERE id = #{id}
    </update>
</mapper>